-
  let movie = {
    titleLatin: 'Cruella',
    titleOriginal: 'Cruella',
    url: 'cruella',
    actors: [
      'Emma Stone',
      'Emma Thompson',
      'Joel Fry',
      'Paul Walter Hauser'
    ],
    director: ['Craig Gillespie'],
    genres: ['Comedia', 'Aventura'],
    time: '1h : 47m',
    year: 2021,
    //- sequel: "",
    youtubeID: "oK13SZYZqmA",
    quality: ['1080p', '720p'],
    lang: ['Español', 'Latino', 'Subtitulada'],
    synopsis: [
      'Cruella se sumerge en la juventud rebelde de uno de los villanos más conocidos y más de moda, nada menos que la legendaria Cruella de Vil. Emma Stone encarna a Estella, alias Cruella, junto a Emma Thompson como la Baronesa, la directora de una prestigiosa firma de moda que convierte a Estella en una incipiente diseñadora.', 'Cruella se sumerge en la juventud rebelde de uno de los villanos más conocidos y más de moda, nada menos que la legendaria Cruella de Vil. Emma Stone encarna a Estella, alias Cruella, junto a Emma Thompson como la Baronesa, la directora de una prestigiosa firma de moda que convierte a Estella en una incipiente diseñadora.'
    ],
    iframes: [
      //- {
      //-   quality: 'Romeo Santos',
      //-   lang: 'Propuesta Idecente',
      //-   url: '/drive/propuesta-indecente.html'
      //- },
      //- {
      //-   quality: 'Franco y Alejandra',
      //-   lang: 'Tan Sólo Tú',
      //-   url: '/drive/tan-solo-tu.html'
      //- },
      //- {
      //-   quality: 'Thalia y Pedro',
      //-   lang: 'Estoy Enamorado',
      //-   url: '/drive/estoy-enamorado.html'
      //- },
      //- {
      //-   quality: 'Beéle',
      //-   lang: 'Loco Remix',
      //-   url: '/drive/loco-remix.html'
      //- },
      //- {
      //-   quality: 'HA-ASH',
      //-   lang: 'Lo Aprendí de Ti',
      //-   url: '/drive/lo-aprendi-de-ti.html'
      //- },
      //- {
      //-   quality: 'Eminem ft Rihanna',
      //-   lang: 'Love the Way you Lie',
      //-   url: '/drive/love-the-way-you-lie.html'
      //- }
      {
        quality: 'Romeo Santos',
        lang: 'Propuesta Idecente',
        url: '/temp/propuesta-indecente.html'
      },
      {
        quality: 'Franco y Alejandra',
        lang: 'Tan Sólo Tú',
        url: '/temp/tan-solo-tu.html'
      },
      {
        quality: 'Thalia y Pedro',
        lang: 'Estoy Enamorado',
        url: '/temp/estoy-enamorado.html'
      },
      {
        quality: 'Beéle',
        lang: 'Loco Remix',
        url: '/temp/loco-remix.html'
      },
      {
        quality: 'HA-ASH',
        lang: 'Lo Aprendí de Ti',
        url: '/temp/lo-aprendi-de-ti.html'
      },
      {
        quality: 'Eminem ft Rihanna',
        lang: 'Love the Way you Lie',
        url: '/temp/love-the-way-you-lie.html'
      }
    ],
    download: [
      {
        server: 'Mega',
        quality: 'HD 720p',
        lang: 'Español Latino',
        format: 'MP4',
        url: '#'
      },
      {
        server: 'GoogleDrive',
        quality: 'Full HD 1080p',
        lang: 'Español Castellano',
        format: 'MP4',
        url: '#'
      },
      {
        server: 'Openload',
        quality: 'Full HD 1080p',
        lang: 'Dual : Latino | Ingles',
        format: 'MKV',
        url: '#'
      }
    ]
  }