if root == ''
  footer.footer &copy 2021 &nbsp;|&nbsp; Derechos Reservados &nbsp;|&nbsp; DDCopy.club
else 
  footer.footer &copy 2021 &nbsp;|&nbsp; Derechos Reservados &nbsp;|&nbsp;&nbsp; #[a(href='/') DDCopy.club]
