section.rating
  .wrapper-card-top
    p.card-top__title DESTACADAS
    .card-top__content
      .card-top__covers
        .card-top__items#card-top__items
          +card-top(cardTop)
      .card-top__arrow-left.icon-mask.icon-arrow#arrow-left.icon-disable
      .card-top__arrow-right.icon-mask.icon-arrow#arrow-right
