.footer{
  display: flex;
  justify-content: center;
  align-items: center;

  // de aqui en adelante forma parte del componente u objeto

  color: var(--color-text-bg);
  background: var(--bg-second);
  font-size: .75rem;
  a{
    color: var(--color-title);
    text-decoration: underline;
    &:hover{
      color: var(--accent-color);
    }
  }
}