-
  const published = [
    {
      titleLatin: "Titulo de la pelicula",
      url: "cruella",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "2",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "3",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "4",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "5",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "6",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "7",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "8",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "9",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "10",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "11",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "12",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "13",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "14",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "15",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "16",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "17",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "18",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "19",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "20",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "21",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "22",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "23",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "24",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "25",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "26",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "27",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "28",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "29",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "30",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "31",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "32",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "33",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "34",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "35",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "36",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "37",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "38",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "39",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "40",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "41",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "42",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "43",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "44",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "45",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "46",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "47",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "48",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "49",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    },
    {
      titleLatin: "Titulo de la pelicula",
      url: "50",
      year: 2021,
      duration: "1h : 47m",
      quality: "1080p - 720p",
      summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud",
      genres: "Animación, Aventura, Fantasía"
    }
  ]