-
  const cardTop = [
    {
      titleLatin: 'Nombre de la Pelicula',
      url: 'cruella',
      year: 2021
    },
    {
      titleLatin: 'Nombre de la Pelicula',
      url: '25',
      year: 2021
    },
    {
      titleLatin: 'Nombre de la Pelicula',
      url: '18',
      year: 2021
    },
    {
      titleLatin: 'Nombre de la Pelicula',
      url: '22',
      year: 2021
    },
    {
      titleLatin: 'Nombre de la Pelicula',
      url: '33',
      year: 2021
    },
    {
      titleLatin: 'Nombre de la Pelicula',
      url: '50',
      year: 2021
    },
    {
      titleLatin: 'Nombre de la Pelicula',
      url: '49',
      year: 2021
    },
    {
      titleLatin: 'Nombre de la Pelicula',
      url: '40',
      year: 2021
    },
    {
      titleLatin: 'Nombre de la Pelicula',
      url: '30',
      year: 2021
    },
    {
      titleLatin: 'Nombre de la Pelicula',
      url: '20',
      year: 2021
    }
  ]