.preloader{
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    var(--bg-video) 0%,
    var(--border-color) 53%
  );
  animation: rotate .7s linear infinite;
}

.preloader::after{
  content: '';
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  margin: .25rem;
  border-radius: 50%;
  background: var(--bg-video);
}

@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}